#news {
    background-color: #808080;
    padding: 0.6em;
    margin:  0.5em;
    border-radius: 0.3em;
}
.picture {
    float:right;
}
.headline {
    padding: 0.6em;
    margin: 0.3em;
    border-radius: 0.3em;
    clear:both;
    min-height: 160px;
    background-color: white;
}